@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Fugaz+One&family=Itim&family=Jua&display=swap');

/* Stylesheet Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Chewy;
}
/* Font */
body {
    background-color: #FEF022;
}

header {
    position: absolute;
    top: 0;
    left: 0;
}

header a {
    margin: 1em;
}

/* Backround And Section Positioning */
section{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
}
section#startScreen > img {
    width: 25em;
    height: auto;
}



/* Button Color And Content Spacing */
button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: none;
    border-radius: 100px;
    padding: 1em;
    width: 300px;
    margin-top: 20px;
    background-color: rgb(239, 69, 43);
    color: #ffffff;
}
button:hover {
    background-color: blue;
}
button:active {
    background-color: rgb(24, 95, 16);
}


/* Startscreen Img */
button img {
    width: 30px;
}

figure {
    position: relative;
}

.layer {
    position: absolute;
    top: 0;
    left: 0;
}

.hidden {
    display: none;
}

#image-container {
  position: relative;
  width: 458px; /* of 458px als je origineel wilt aanhouden */
  height: 687px; /* of 687px */
}

#image-container img.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 1em;
justify-content: center;
}

#downloadButton {
    background-color: blue;
}

#downloadButton:hover {
    background-color: rgb(239, 69, 43);
}

#downloadButton:active {
        background-color: rgb(24, 95, 16);
}